
          <!-- partial:partials/_footer.html -->

          <style>
            .container-fluid{
              background-color: aliceblue;
            }
          </style>
          <footer class="footer container-fluid">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                  &copy; <a href="https://bit.ly/2UTgih5" rel="noreferrer noopener" target="_blank">EVSC</a> 
                  - coded by <a target="_blank" rel="noreferrer noopener" href="https://appseed.us">EVSC Developers</a>.
                </span>
              <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                
              </span>
            </div>
          </footer>
          <!-- partial -->
