      <style>
        .sidebar{
          background-color:aliceblue;
        }
      </style>
      
      <nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-top: -70px;">

        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/static/assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">
                    {{ request.user.username }}
                  </h5>
                  <span>
                    {{ request.user.email }}
                  </span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="{% url 'logout' %}" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-logout text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Logout</p>
                  </div>
                </a>
              </div>
            </div>

          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items" >
            <a class="nav-link" href="{% url 'home' %}">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Home</span>
            </a>
          </li>

          <!--Registration Elements-->

          <li class="nav-item menu-items">
            <a class="nav-link" href=" {% url 'add_user' %}">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Registration</span>
            </a>
          </li>

           <!--end of Registration elements -->
           <!-- View Element -->
           <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#view-basic" aria-expanded="false" aria-controls="view-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">View</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="view-basic">
              <ul class="nav flex-column sub-menu">
                <div>
                  <i class = "mdi mdi-panorama-fisheye" style="color: grey;"></i>
                  <li class="nav-item" style="font-size: 25px; display: inline-block;"> <a class="nav-link" style="font-size: 13px;" href="{% url 'view_records' %}">View Record</a></li>
                </div>
                
                <div>
                  <i class = "mdi mdi-panorama-fisheye" style="color: grey;"></i>
                  <li class="nav-item" style="display: inline-block;"> <a class="nav-link" style="font-size: 13px;" href="{% url 'view_reports' %}">View Report</a></li>
                </div>

                <div>
                  <i class = "mdi mdi-panorama-fisheye" style="color: grey;"></i>
                  <li class="nav-item" style="display: inline-block;"> <a class="nav-link" style="font-size: 13px;" href="{% url 'manage_system_admin' %}">View Admins</a></li>
                </div>
                
                
                <!--li class="nav-item"> <a class="nav-link" href="/buttons.html">Buttons</a></li-->
                <!--li class="nav-item"> <a class="nav-link" href="/dropdowns.html">Dropdowns</a></li-->
                <!--li class="nav-item"> <a class="nav-link" href="/typography.html">Typography</a></li-->
              </ul>
            </div>
          </li>

          <!-- End of View Element -->

          <!--View Elements-->
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#manage-basic" aria-expanded="false" aria-controls="view-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Manage</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="manage-basic">
              <ul class="nav flex-column sub-menu">
                <div>
                  <i class = "mdi mdi-panorama-fisheye" style="color: grey;"></i>
                  <li class="nav-item" style="display: inline-block;"> <a class="nav-link" style="font-size: 13px;" href="{% url 'manage_traffic_police' %}">Manage Traffic</a></li>
                </div>
                <div>
                  <i class = "mdi mdi-panorama-fisheye" style="color: grey;"></i>
                  <li class="nav-item" style="display: inline-block;"> <a class="nav-link" style = "font-size: 13px;" href="{% url 'manage_vehicle' %}">Manage Vehicle</a></li>

                </div>


                <div>
                  <i class = "mdi mdi-panorama-fisheye" style="color: grey;"></i>
                  <li class="nav-item" style="display: inline-block;"> <a class="nav-link" style = "font-size: 13px;" href="{% url 'manage_location' %}">Manage Location</a></li>

                </div>
                
                
                <!--li class="nav-item"> <a class="nav-link" href="/buttons.html">Buttons</a></li-->
                <!--li class="nav-item"> <a class="nav-link" href="/dropdowns.html">Dropdowns</a></li-->
                <!--li class="nav-item"> <a class="nav-link" href="/typography.html">Typography</a></li-->
              </ul>
            </div>
          </li>

        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'add_location' %}">
            <span class="menu-icon">
              <i class="mdi mdi-map-marker-plus"></i>
            </span>
            <span class="menu-title">Add Location</span>
          </a>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'assign_location_to_traffic' %}">
            <span class="menu-icon">
              <i class="mdi mdi-map-marker-plus"></i>
            </span>
            <span class="menu-title">Assign Traffic Location</span>
          </a>
        </li>



        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'add_vehicle' %}">
            <span class="menu-icon">
              <i class="mdi mdi-truck"></i>
            </span>
            <span class="menu-title">Add Vehicle</span>
          </a>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'generate_credential_by_email_page' %}">
            <span class="menu-icon">
              <i class="mdi mdi-truck"></i>
            </span>
            <span class="menu-title">New Credential</span>
          </a>
        </li>

<!--End of View Element-->
        </ul>
      </nav>
