{% extends "layouts/base.html" %}

{% block title %} Basic Elements {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint{
  background-color: aliceblue;
  border: 1px solid #2c2c2c;

}
input[type = text]:focus{
    background-color:aliceblue;
  }
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: rgb(77, 75, 75);
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-dropdown, .select2-container--default .select2-selection--multiple{
  background-color: aliceblue;
}
.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint{
  background-color: aliceblue;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-dropdown, .select2-container--default .select2-selection--multiple{
    background-color: aliceblue;
    /* background:rgb(95, 92, 92); */
  }
  .form-control:focus, .asColorPicker-input:focus, .dataTables_wrapper select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .typeahead:focus, .tt-query:focus, .tt-hint:focus{
    background-color: aliceblue;
    
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: rgb(78, 75, 75);
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected]{
    color: rgb(78, 75, 75);
  }
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Form elements </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form elements</li>
          </ol>
        </nav>
      </div>
      <!--This is Row elements-->

      <div class="row">

        <div class="col-md-6 grid-margin stretch-card mx-auto" style="align-items: center;">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="color: rgb(116, 110, 110);">Add New Vehicle to the system</h4>
              <form action="{% url 'add_vehicle_save' %}" method="post" class="needs-validation" novalidate>
                {% csrf_token %}


                {% comment %} Display Messages {% endcomment %}
                 {% if messages %}
                 <div class="form-group">
                 <div class="col-12">
                     {% for message in messages %}
                     {% if message.tags == "error" %}
                         <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                         {{ message }}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                         </div>
                     {% elif message.tags == "success" %}
                         <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                         {{ message }}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                         </div>
                     {% endif %}
                     {% endfor %}
                    </div>
                  </div>
                  {% endif %}    

                <div class="form-group">
                  <label style="color: rgb(116, 110, 110);">Vehicle Codes</label>
                  <select class="js-example-basic-single" style="width:100%;color: rgb(27, 27, 27);" name="code">
                    <option value="ET" style="color: rgb(116, 110, 110);">Ethiopia</option>
                    <option value="OR">Oromia</option>
                    <option value="OR">Oromia</option>
                    <option value="AA">Addis Ababa</option>
                    <option value="AF">Afar</option>
                    <option value="AM">Amara</option>
                    <option value="BG">Benishangul Gumuz</option>
                    <option value="DR">Dire Dawa</option>

                  </select>
                </div>
  
  
                <div class="form-group">
                  <label style="color: rgb(116, 110, 110);">Plate Number</label>
                  <input type="text" class="form-control form-control-lg" placeholder="plate number" aria-label="Username" name="plate_number" required>
                  <div class="invalid-feedback">
                    Please Provide Plate Number.
                  </div>
      
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="form-group">
                  <label style="color: rgb(116, 110, 110);">Vehicle Type</label>
                  <input type="text" class="form-control" placeholder="vehicle type" aria-label="Username" name="vehicle_type" required>
                  <div class="invalid-feedback">
                    Provide Vehicle Type.
                  </div>
      
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="form-group">
                  <label style="color: rgb(116, 110, 110);">Vehicle Owner</label>
                  <input type="text" class="form-control form-control-sm" aria-label="Username" name="vehicle_owner" required>
                  <div class="invalid-feedback">
                    Fill The Vehicle Owner.
                  </div>
      
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <button type="submit" class="btn btn-success btn-fw">Submit</button>


              </form>


            </div>
            
          </div>
          
        </div>


      </div>
    </div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>

  
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
  
  </script>
  

  <script src="/static/assets/js/file-upload.js"></script>
  <script src="/static/assets/js/typeahead.js"></script>
  <script src="/static/assets/js/select2.js"></script>

{% endblock javascripts %}
