{% extends "layouts/base.html" %}

{% block title %} Basic Elements {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Form elements </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form elements</li>
          </ol>
        </nav>
      </div>
      <!--This is Row elements-->

      <div class="row">

        <div class="col-md-6 grid-margin stretch-card" style="align-items: center;">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Add New Vehicle to the system</h4>

              <div class="form-group">
                <label>Single select box using select 2</label>
                <select class="js-example-basic-single" style="width:100%">
                  <option value="AL">Oromia</option>
                  <option value="WY">Tigray</option>
                  <option value="AM">Afar</option>
                  <option value="CA">Amara</option>
                  <option value="RU">Debub</option>
                </select>
              </div>


              <div class="form-group">
                <label>Plate Number</label>
                <input type="text" class="form-control form-control-lg" placeholder="plate number" aria-label="Username">
              </div>
              <div class="form-group">
                <label>Vehicle Type</label>
                <input type="text" class="form-control" placeholder="vehicle type" aria-label="Username">
              </div>
              <div class="form-group">
                <label>Vehicle Owner</label>
                <input type="text" class="form-control form-control-sm" placeholder="vehicle owner" aria-label="Username">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/file-upload.js"></script>
  <script src="/static/assets/js/typeahead.js"></script>
  <script src="/static/assets/js/select2.js"></script>

{% endblock javascripts %}
