{% extends "layouts/base.html" %}

{% block title %} Basic Elements {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="col-12 grid-margin stretch-card">


    <div class="card">



      {% if messages %}
      <div class="form-group">
      <div class="col-12">
          {% for message in messages %}
          {% if message.tags == "error" %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
          {% elif message.tags == "success" %}
              <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
          {% endif %}
          {% endfor %}
         </div>
       </div>
       {% endif %}








      <div class="card-body">
        <h4 class="card-title">Basic form elements</h4>
        <p class="card-description"> Basic form elements </p>
        <form method="POST" class="forms-sample needs-validation" action=" {% url 'edit_vehicle_save' %}  " novalidate>
          {% csrf_token %}
          <div class="form-group">
            <input type="hidden" name="vehicle_id" value="{{vehicle.id}}">
            <label for="exampleInputName1">Plate Number</label>
            <input type="text" class="form-control" id="exampleInputName1" name="vehicle_plate" placeholder="Plate Number" value="{{vehicle.vehicle_plate}}" required>
            <div class="invalid-feedback">
              Please Write a Plate Number.
            </div>

            <div class="valid-feedback">
              Looks good!
            </div>

          </div>
          <div class="form-group">
            <label for="exampleInputName1">Plate Type</label>
            <input type="text" class="form-control" id="exampleInputName1" name="vehicle_type" placeholder="Vehicle Type" value="{{vehicle.vehicle_type}}" required>
            <div class="invalid-feedback">
              Please Write a Plate Type.
            </div>
          </div>

          <div class="form-group">
            
            <label for="exampleInputEmail3">Plate Owner</label>
            <input type="text" class="form-control" id="exampleInputName1" name="vehicle_owner" placeholder="Vehicle Owner" value="{{vehicle.vehicle_owner}}" required>
            <div class="invalid-feedback">
              Please Write a Vehicle Owner.
            </div>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Submit</button>


        </form>
      </div>
    </div>
  </div>

  {% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>

  
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()

</script>




  <script src="/static/assets/js/file-upload.js"></script>
  <script src="/static/assets/js/typeahead.js"></script>
  <script src="/static/assets/js/select2.js"></script>

{% endblock javascripts %}
