{% extends "layouts/base.html" %}

{% block title %} Basic Elements {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper">
      <!--This is Row elements-->


        <!--Registartion Form-->
       <div class="page-header">
        <h3 class="page-title"> Generate new Credential</h3>

      </div>
        <!--end of Registration Form-->
<div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Basic User elements</h4>
              <p class="card-description"> Fill form elements </p>
              <form role="form" class="forms-sample" method="POST", action="{% url 'generate_traffic_police_credential' %}">

                 {% csrf_token %}

                 <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Email" name = "email" required>
  
                  </div>
                  <button type="submit" class="btn btn-success">Generate Credential</button>
              </form>
            </div>
          </div>
        </div>



      </div>
    </div>
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/file-upload.js"></script>
  <script src="/static/assets/js/typeahead.js"></script>
  <script src="/static/assets/js/select2.js"></script>

{% endblock javascripts %}
