{% extends "layouts/base.html" %}

{% block title %} Basic Elements {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .card{
    background-color: aliceblue;
  }
  .content-wrapper{
    background-color: aliceblue;
  }
  .form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint{
    background-color: aliceblue;
  }
  input[type = text]:focus{
    background-color:aliceblue;
  }
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: rgb(77, 75, 75);
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-dropdown, .select2-container--default .select2-selection--multiple{
  background-color: aliceblue;
}
.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint{
  background-color: aliceblue;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-dropdown, .select2-container--default .select2-selection--multiple{
    background-color: aliceblue;
    /* background:rgb(95, 92, 92); */
  }
  .form-control:focus, .asColorPicker-input:focus, .dataTables_wrapper select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .typeahead:focus, .tt-query:focus, .tt-hint:focus{
    background-color: aliceblue;
    
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: rgb(78, 75, 75);
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected]{
    color: rgb(78, 75, 75);
  }

</style>


{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper">
      <!--This is Row elements-->


        <!--Registartion Form-->
       <div class="page-header">
        <h3 class="page-title"> Register User to the System </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">User elements</li>
          </ol>
        </nav>
      </div>
        <!--end of Registration Form-->
<div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="color: rgb(37, 36, 36);">Basic User elements</h4>
              <p class="card-description" style="color: rgb(24, 23, 23);"> Fill form elements </p>
              <form role="form" class="forms-sample needs-validation" method="POST", action="{% url 'add_user_save' %}" novalidate>

                 {% csrf_token %}

                 {% comment %} Display Messages {% endcomment %}
                 {% if messages %}
                 <div class="form-group">
                 <div class="col-12">
                     {% for message in messages %}
                     {% if message.tags == "error" %}
                         <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                         {{ message }}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                         </div>
                     {% elif message.tags == "success" %}
                         <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                         {{ message }}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                         </div>
                     {% endif %}
                     {% endfor %}
                    </div>
                  </div>
                  {% endif %}                    





                <div class="form-group">
                  <label for="exampleInputName1" style="color: rgb(24, 23, 23);">First Name</label>
                  <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name = "first_name" required>

                  <div class="invalid-feedback">
                    Please Provide Name.
                  </div>
      
                  <div class="valid-feedback">
                    Looks good!
                  </div>

                </div>

                <div class="form-group">
                  <label for="exampleInputName1" style="color: rgb(24, 23, 23);">Last Name</label>
                  <input type="text" class="form-control" id="exampleInputName1" placeholder="Last Name" name = "last_name" required>

                  <div class="invalid-feedback">
                    Please Provide Last Name.
                  </div>
      
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputName1" style="color: rgb(24, 23, 23);">Username</label>
                  <input type="text" class="form-control" id="exampleInputName1" id = "username" placeholder="Username" name="username" required >

                  <div class="invalid-feedback">
                    Please Provide Username.
                  </div>
      
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail3" style="color: rgb(24, 23, 23);">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="email" required>

                  <div class="invalid-feedback">
                    Please Provide Email.
                  </div>
      
                  <div class="valid-feedback">
                    Looks good!
                  </div>

                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Membership</label>
                  <div class="col-sm-4">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1"  value="1" checked> Traffic Police </label>
                    </div>
                  </div>

                  
                  
                  <div class="col-sm-5">
                    {% if request.user.is_superuser  %}
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="2"> System Admin </label>
                    </div>

                  {% endif %}                  
                  </div>
                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                
              </form>
            </div>
          </div>
        </div>



      </div>
    </div>
{% endblock content %}



<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}


  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

  
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
  
  </script>


  <script src="/static/assets/js/file-upload.js"></script>
  <script src="/static/assets/js/typeahead.js"></script>
  <script src="/static/assets/js/select2.js"></script>

{% endblock javascripts %}
