{% extends "layouts/base.html" %}

{% block title %} Basic Elements {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper">
      <!--This is Row elements-->


        <!--Registartion Form-->
       <div class="page-header">
        <h3 class="page-title"> Register User to the System </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">User elements</li>
          </ol>
        </nav>
      </div>
        <!--end of Registration Form-->
<div class="col-12 grid-margin stretch-card mx-auto">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Basic User elements</h4>
              <p class="card-description"> Fill form elements </p>
              <form role="form" class="forms-sample" method="POST", action="{% url 'add_user_save' %}">

                 {% csrf_token %}

                 {% comment %} Display Messages {% endcomment %}
                 {% if messages %}
                 <div class="form-group">
                 <div class="col-12">
                     {% for message in messages %}
                     {% if message.tags == "error" %}
                         <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                         {{ message }}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                         </div>
                     {% elif message.tags == "success" %}
                         <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                         {{ message }}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                         </button>
                         </div>
                     {% endif %}
                     {% endfor %}
                    </div>
                  </div>
                  {% endif %}                    





                <div class="form-group">
                  <label for="exampleInputName1">First Name</label>
                  <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name = "first_name" required>
                </div>

                <div class="form-group">
                  <label for="exampleInputName1">Last Name</label>
                  <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name = "last_name" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputName1">Username</label>
                  <input type="text" class="form-control" id="exampleInputName1" id = "username" placeholder="Name" name="username" required >
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail3">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="email" required>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Membership</label>
                  <div class="col-sm-4">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1"  value="1" checked> Traffic Police </label>
                    </div>
                  </div>

                  
                  
                  <div class="col-sm-5">
                    {% if request.user.is_superuser  %}
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="2"> System Admin </label>
                    </div>

                  {% endif %}                  
                  </div>
                </div>

                <!-- <div class="form-group">
                  <label for="exampleInputPassword4">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                </div> -->
                <!-- <div class="form-group">
                  <label for="exampleSelectGender">Gender</label>
                  <select class="form-control" id="exampleSelectGender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div> -->

                <!-- <div class="form-group">
                  <label for="exampleInputCity1">City</label>
                  <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                </div>
                <div class="form-group">
                  <label for="exampleTextarea1">Textarea</label>
                  <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div> -->
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                
              </form>
            </div>
          </div>
        </div>



      </div>
    </div>
{% endblock content %}

<!-- <script>
  $(document).ready(function(){
    $("#username").keyup(function(){
                var username = $(this).val();
                
                if(username!=""){
                    $.ajax({
                        url : '{% url 'check_username_exist' %}',
                        type : 'POST',
                        data : {username:username}
                    })
                    .done(function(response){
                        //console.log(response);

                        if(response == "True"){
                            $(".username_error").remove();
                            $("<span class='username_error' style='color: red; padding: 5px; font-weight: bold;'> Username Not Available. </span>").insertAfter("#id_username")
                        }
                        else{
                            $(".username_error").remove();
                            $("<span class='username_error' style='color: green; padding: 5px; font-weight: bold;'> Username Available. </span>").insertAfter("#id_username")
                        }
                    })

                    .fail(function(){
                        console.log("Failed");
                    })
                }
                else{
                    $(".username_error").remove();
                }
                
            })

  });
</script> -->

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/file-upload.js"></script>
  <script src="/static/assets/js/typeahead.js"></script>
  <script src="/static/assets/js/select2.js"></script>

{% endblock javascripts %}
