{% extends "layouts/base.html" %}

{% block title %} Basic Elements {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .card{
    background-color: grey;
  }
  .content-wrapper{
    background-color: lightgrey;
  }
  .form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint
  {
    background-color: honeydew;
    outline-color: honeydew;
  }
</style>

{% endblock stylesheets %}

{% block content %}
<!-- <a class="btn btn-primary" style="width: 50%;" href="{% url 'add_vehicle' %}" role="button">+ Add Vehicles</a> <br/>&nbsp; -->
{% if messages %}
<div class="form-group">
<div class="col-12">
    {% for message in messages %}
    {% if message.tags == "error" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% elif message.tags == "success" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endif %}
    {% endfor %}
</div>
</div>
{% endif %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Records Commited by Vehicle</h4>
                </div>
                <form method="GET" class="form-group" style="width: 50%;" action="{% url 'search_vehicle_record' %} ">
                  
                  <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search's record by vehicle plate" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-primary" type="submit">Search</button>
                    </div>
                  </div>
                </form>

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text">
                        <tr>
                            <th style="color: black;">ID</th>
                            <th style="color: black;">Plate Number</th>
                            <th style="color: black;">Latitude</th>
                            <th style="color: black;">Longitude</th>
                            <th style="color: black;">Vehicle Speed</th>
                            <th style="color: black;">Status</th>
                            <th style="color: black;">Map View</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        {% for record in records %}
                        <tr>
                            <td style="color: white;">{{record.id}}</td>
                            <td style="color: white;">{{record.vehicle}}</td>
                            <td style="color: white;">{{record.latitude}}</td>
                            <td style="color: white;">{{record.longitude}}</td>
                            <td style="color: white;">{{record.vehicle_speed}}</td>
                            <td> 
                            
                           
                            
                            {% if record.status == False  %}
                            <label class="badge badge-danger">Pending</label>
                            {% else %}
                            <label class="badge badge-success">Reported</label>
                            {% endif %}

                          </td>
                          <td>
                            <a href="{% url 'view_record_on_map' record.id %}" class="text-success"><i class="mdi mdi-google-maps"></i></a>                          
                          </td>
                          
                              

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
