{% extends "layouts/base.html" %}

{% block title %} Basic Elements {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- <a class="btn btn-primary" style="width: 50%;" href="{% url 'add_vehicle' %}" role="button">+ Add Vehicles</a> <br/>&nbsp; -->
{% if messages %}
<div class="form-group">
<div class="col-12">
    {% for message in messages %}
    {% if message.tags == "error" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% elif message.tags == "success" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endif %}
    {% endfor %}
</div>
</div>
{% endif %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Records Commited by Vehicle</h4>
                </div>
                <form method="GET" class="form-group" style="width: 50%;" action="{% url 'search_vehicle_record' %} ">
                  
                  <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search's record by vehicle plate" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-primary" type="submit">Search</button>
                    </div>
                  </div>
                </form>

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>
                            <th>ID</th>
                            <th>Plate Number</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Address</th>
                            <th>Vehicle Speed</th>
                            <th>Status</th>
                            <th>Map View</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        {% for record in records %}
                        <tr>
                            <td>{{record.id}}</td>
                            <td>{{record.vehicle}}</td>
                            <td>{{record.latitude}}</td>
                            <td>{{record.longitude}}</td>
                            <td>{{record.address}}</td>
                            <td>{{record.vehicle_speed}}</td>
                            <td> 
                            
                           
                            
                            {% if record.status == False  %}
                            <label class="badge badge-danger">Pending</label>
                            {% else %}
                            <label class="badge badge-success">Reported</label>
                            {% endif %}

                          </td>
                          <td>
                            <a href="{% url 'view_record_on_map' record.id %}" class="text-danger"><i class="mdi mdi-arrow-right"></i>View</a>                          
                          </td>
                          
                              

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
<!-- <div class="col-lg-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Table with contextual classes</h4>
              <p class="card-description"> Add class <code>.table-{color}</code>
              </p>
              <div class="table-responsive">
                <table class="table table-bordered table-contextual">
                  <thead>
                    <tr>
                      <th> # </th>
                      <th> First name </th>
                      <th> Product </th>
                      <th> Amount </th>
                      <th> Deadline </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-info">
                      <td> 1 </td>
                      <td> Herman Beck </td>
                      <td> Photoshop </td>
                      <td> $ 77.99 </td>
                      <td> May 15, 2015 </td>
                    </tr>
                    <tr class="table-warning">
                      <td> 2 </td>
                      <td> Messsy Adam </td>
                      <td> Flash </td>
                      <td> $245.30 </td>
                      <td> July 1, 2015 </td>
                    </tr>
                    <tr class="table-danger">
                      <td> 3 </td>
                      <td> John Richards </td>
                      <td> Premeire </td>
                      <td> $138.00 </td>
                      <td> Apr 12, 2015 </td>
                    </tr>
                    <tr class="table-success">
                      <td> 4 </td>
                      <td> Peter Meggik </td>
                      <td> After effects </td>
                      <td> $ 77.99 </td>
                      <td> May 15, 2015 </td>
                    </tr>
                    <tr class="table-primary">
                      <td> 5 </td>
                      <td> Edward </td>
                      <td> Illustrator </td>
                      <td> $ 160.25 </td>
                      <td> May 03, 2015 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     -->